.news{
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
    text-align: left;
    border-radius: 10px;
}
.head{
    font-weight: 700;
    font-size: 15px;
    color: black;
}
a{
    text-decoration: none !important;
}


         
.smart {
    background-image: linear-gradient(to right, #003973 0%, #E5E5BE  51%, #003973  100%);
 font-weight: 600;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: none !important;
  }

  .smart:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 


.headline{
    text-align: left;
    margin-top: 20px;
    border-radius: 15px;
    padding: 6px;
   /* background-color: lightgray;
    border-radius: 15px;*/
    box-shadow: 4px 4px 9px 2.5px #7d7d7d;
    border:solid .5px lightgrey;
    background-color: whitesmoke;
    height: 280px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.col-md-8 {
    text-align: center;
}
.headline:hover{
    transform: scale(1.005);
    transition-duration: .4s;
    
}



.imagewrapper{
   border-radius: 2px;
}
img{padding: 6px;
    border-radius: 2px;
}

.time{
    text-align: center;
    font-weight: 500;
    font-size: smaller;
 
}


.content{
    font-size: 15px;
    text-align: left;
    padding:8px;
}
@media (max-width: 1160px) and (min-width:770px){ 
    img{
       width: 120%;
      
    }

   
 }
 @media (max-width: 770px) and (min-width:0px){ 
    img{
       width: 100%;
      
    }
    .headline{
        height: 470px;
    }
 }
 
 h5{
     padding: 2px;
 }
 
